*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border-radius: 51px;
    background-color: linear-gradient(144deg, #eae1e1, #c5bdbd);
    box-shadow: 23px 23px 40px #a09999,
    -23px -23px 40px #ffffff;
}

.contactform {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm h1 {
    position: absolute;
    top: 40px;
    font-size: 35px;
    letter-spacing: 3px;
    transition: 0.7s;
}

.contactForm h1:hover {
    font-size: 45px;
    cursor: pointer;
}

.inputBox label {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.inputBox input {
    padding: 5px 30px;
    border: 1px solid #000;
    outline: none;
    transition: 0.5s;
    border-radius: 25px;
    background: transparent;
}

.inputBox input:focus,
.inputBox input:valid {
    color: #fff;
    box-shadow: inset 300px 0 #000;
}

.contactForm button {
    position: absolute;
    bottom: 100px;
    padding: 7px 45px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: transparent;
    transition: 0.5s;
}

.contactForm button:hover {
    transform: scale(110%);
    background-color: #000;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
}